/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:rgb(255,255,255);
	--color-background:rgb(38,40,43);
	--color-button:rgb(248,193,217);
	--color-knopje:rgb(154,155,156);
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

